* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ogg binary
*.wav binary
*.mp3 binary
*.ttf binary
*.otf binary

# Preserve the upstream font licenses byte-for-byte, including their whitespace.
assets/production/fonts/NotoSansSC-OFL.txt -text whitespace=-blank-at-eol
assets/production/fonts/PixelifySans-OFL.txt -text whitespace=-blank-at-eol
